/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Begin Custom CSS */

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


 body {
	width: 100%;
	background-color: #e5e5e5;
}


h1, h2, h3, h4, h5, h6, a, p {
	font-family: Arial;
}

.pop {
	-webkit-box-shadow: -3px 0px 6px 0px rgba(39, 50, 50, 0.16);
	-moz-box-shadow:    -3px 0px 6px 0px rgba(39, 50, 50, 0.16);
	box-shadow:         -3px 0px 6px 0px rgba(39, 50, 50, 0.16);
	background-color: #fff;
}

header {
	width: 100%;
	margin: 0 auto;
	padding: 10px;
}

#header-content {
	display: block;
}


#objective {                    
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	background: #f5f5f5;
}

#content-wrapper {
	clear: both;
	margin: 0 auto;
}

#education-wrapper, 
#employment-wrapper {
	padding: 10px;
}

/* Controls Content Inside Shifting Blocks */

.position-wrapper {
	width: 100%;
	height: 60px;
	margin: 0 0 0 5px;
}

#content-wrapper h2 {
		padding: 5px 0 5px 5px;
}


.content-img-wrapper {
	float: left;
	height: 60px;
	margin: 0 5px 0 0;
}

.content-img-wrapper img{
	width: 75%;
	height: 75%;
}

.interior-header-wrapper {
	line-height: 30px;
}

.interior-content-wrapper {
	margin: 5px 0;
}

/* Ends Controls for Content in Education Blocks */

#work-xp-wrapper {
	padding: 10px;
	margin: 10px 0;
}

#other-xp-wrapper {
	padding: 10px;
}

footer {
	display: block;
	margin: 10px 0 0 0;
	background-color: #ADCEAD;
	}

footer ul {
	display: block;
	width: 684px;
	margin: 0 auto;
	
}

footer ul li {
	float: left;
	padding: 0 60px 0 0;
}


