@media screen and (min-width: 1000px) {

	.large-wrap {
		min-width: 1060px;
	}
	
	header {
		overflow: auto;
	}

	#header-img {
		float: left;
		height: 160px;
		width: 160px;
		margin: 0 0 0 10%;
	}

	#header-content {
		float: left;
		margin: 40px 0 0 60px;
		padding: 0 10px 0 0;
	}

	#content-wrapper {
		height: 370px;
		width: 1000px;
	}

	#education-wrapper, 
	#employment-wrapper {
		width: 425px;
		height: 370px;
		margin: 10px 10px 10px 0;
	}

	#education-wrapper {
		float: left;
		margin-left: 70px
	}

	#employment-wrapper {
		float: left;
	}

	#work-xp-wrapper,
	#other-xp-wrapper {
		clear: both;
		min-width: 1000px;
	}

	footer {
		height: 100px;
	}

	footer ul {
		padding: 45px 0 0 0;
	}

}

@media screen and (max-width: 999px) {

	.large-wrap {
		min-width: 500px;
	}

	header {
		min-width: 780px;
		height: 175px;		
	}

	#header-img {
		display: block;
		width: 100px;
		height: 100px;
		margin: 0 auto;
	}

	#header-content { 
		width: 100%;
		text-align: center;
	}

	#objective {
		min-width: 900px;
	}

	#content-wrapper {
		width: 100%;
		min-width: 700px;
		height: 100%;
	}
	
	#education-wrapper,
	#employment-wrapper {
		display: block;
		width: 600px;
		height: 350px;
		margin: 20px auto;
	}


	#work-xp-wrapper, 
	#other-xp-wrapper {
		min-width: 800px;
	}

	footer {
		height: 70px;
	}

	footer ul {
		padding: 30px 0 0 0;
	}

